*{
    padding: 0%;
    margin: 0%;
}
li{
    list-style:none ;
    font-size: 20px;
    color: aliceblue;
    margin:10px ;
}
header{
  display: flex;  
  justify-content: space-between;
  background-color: rgba(35, 7, 101, 0.333);
  position: sticky;
  top: 0%;
}
.fast{
    background: url(./cover\ photo.webp);
    height: 1000px;
    background-size: cover;


}
.purple{
 display: flex;   
}
a{
 text-decoration: none; 
 font-size: 20px;  
 color: rgb(250, 245, 248);
}
.Logoo{
    height:80px ;
    width:60 ;
}
.list{
    position: relative;
}
.pink{
   position: absolute; 
   display:none;
   
   top:30px ;
   width:250px ;
   background:brown ;
}
.list:hover .pink{
    display: block;

}
.one{
    display: flex;
    justify-content: space-between;
    font-size:25px ;
    padding:15px ;

}
.four{
    display: flex;
    gap: 15px;
}
.two{
    display: flex;
    gap: 15px;
}
.icon{
    display: flex;
    justify-content: center;
    gap: 20px;
    top: 0%;
    background: rgb(59, 59, 150);
}
.icon .purple{

    height:180px ;
    width: 250px;
    background-color: antiquewhite;
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:20px ;
    border: 2px solid purple;
    box-shadow: 0px 10px 4px rgba(255, 0, 0, 0.363);
    margin-bottom:25px ;

}
.icon h1{
    font-size:30px;
} 
.icon i{
    font-size: 35px;
}
.purple li:hover{ 
    background-color: blueviolet;
    color: black;
}
.details{
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}
.details h1{
    width:1000px ;
    font-size: 60px;
    font-weight: 700px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

}
.details p{
    width:600px ;
    font-size: 40px;
    font-weight: 700px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
button{
    border: 20px;
    background-color:palevioletred ;
    padding: 15px 32px 10px;
    text-align: center;
    font-size: 30px;
    margin: 5px 3px;
    cursor: pointer;
}
.our_service{
    display: flex;
    justify-content: center;
    
    
    
  
    height: 180px;
    width: 100%;
    gap: 10px;


}
.services-1 h1{
    font-size: 40px;
    color: aquamarine;
    padding:10px ;
}

.services-1 i{
    font-size: 40px;
    color: aqua;
    margin:20px ;
    padding:10px ;



}
.services-1{
    display: flex;
    align-items: center;
    width:300px ;
    border: 2px solid chartreuse;
}
.dancing img{
    height: 100px;
    width: 80px;
}
   
.dancing{
    display: flex;
    justify-content: center;
    flex-direction: column ;
    align-items: center;
    background:rgb(59, 59, 150) ;
}
.dancing p{
    font-size:35px ;
    color: rgb(239, 232, 232);
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    width: 600px;


}
.slick-prev::before,
.slick-next::before {
    color: rgba(0, 0, 0, 0.2);
    font-size: 2.5rem;
}

.slick-prev,
.slick-next {
    width: 2.5rem;
    height: 2.5rem;
    z-index: 2;
}

.slick-list {
    width: 95%;
    margin: 0 auto;
}
.slick-prev, .slick-next {
    height: 2.5rem;
    z-index: 2;
}
.slick-prev {
    left: -135px;
}

.slick-next {
    right: -91px;
}
.your-class{
    width: 400px;
    height: 500px;
    margin: 0 auto;

}
.your-class img{
    height: 400px;
    width: 500px;
    
}
.your-slider h3{
    font-size: 40px;
    text-align: center;
    padding: 30px;

}
.slider{
    background: url(./image.png);
    height: 600px;
    width: 100%;
    background-size:cover;
}
.slick-prev::before, .slick-next::before {
    color: black;
    font-size: 2.5rem;
}
.slick-dots li button:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: rgb(232, 5, 5);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top:-120px ;
    
}
.fa-envelope-o{
    color: beige;
    /* width: 60px;
    height: 60px; */
    margin-top: 0 auto;
    padding-top: 30px;
    font-size: 30px;
    margin-right: 30px;

}
.fa-bars{
    font-size: 30px;
    color:beige ;
    display: none;
}
.mega_menu{
    position: absolute;
    height: 400px;
    width: 100%;
    justify-content: center;
    top:100px;
    left: 0;
    display: none;
    padding: 20px;
    gap:40px;
    margin:0 auto;
    background: rgb(217, 123, 8);
}
.mega_menu.container h3{
    border-bottom: 2px solid black;
}
.mega:hover .mega_menu{
    display: flex;
}
.fa-bars:hover .bar-menu{
    display: block;
}
.titlearea{
    padding: 30px;

}
.title3{
    font-size: 30px;
    color: #1d0549;
}
.title4{
    font-size: 30px;
    color: blueviolet;
}
.titlearea h4,h5{
    text-align: center;
}
.projects{
    align-items: center;
    text-align: center;
}


.projects_img{
    width:300px;
    display: flex;
    height: 350px;
    overflow: hidden;
    display: flex;
}
.projects_img img{
    width: 100%;
}
.projects_img img:hover{
    animation-name: scroll;
    animation-duration: 7s;
    animation-timing-function: linear; 
}

@keyframes scroll {
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-80%);
    }
}
.portfolio_area{
    display: flex;
    justify-content: center;
    gap: 20px;
}


.footer_section{
    width: 100%;
    height: 650px;
    background-color: #1d0549;
    margin-top: 20px;
    position: relative;
    align-items: center;
}
.footer{
    display: flex;
    text-align: center;
    padding: 25px;
    color: white;
    justify-content: center;
}
.footer_one{
    padding: 40px;
    text-align: center;
}
.footer_one h8{
    font-size:25px ;
}
.footer_one li{
    gap: 15px;
    text-align: center;
    font-size: 20px;
}
.footer_icon {
    font-size: 25px;
    display: flex;
    color: #ddbdbd;
    gap: 20px;
    margin-left: 650px;
}














@media only screen and (max-width:600px) {
.purple {
    display: none;
}
.details h1 {
    width: 500px;
    font-size: 25px;
    font-weight: 350px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.details p {
    width: 300px;
    font-size: 20px;
    font-weight: 350px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
button {
    border: 10px;
    background-color: palevioletred;
    padding: 10px 16px 5px;
    text-align: center;
    font-size: 15px;
    margin: 5px 3px;
    cursor: pointer;
}
.fa-bars{
    display: inline;
}
.fast {
    background: url(./cover\ photo.webp);
    height: 600px;
    background-size: cover;
}
.our_service {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
}
.dancing p {
    font-size: 25px;
    color: rgb(239, 232, 232);
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    width: 600px;
}
.dancing img {
    height: 50px;
    width: 40px;
}
.slick-prev {
    left: -100px;
}

.bar-menu{
    display:none ;
    position: absolute;
    height: 300px;
    width:150px ;
background: rgba(14, 9, 89, 0.857);
    top: 0px;
    right: 0px;
}
.drop-menu{
    display:none ;
}
.drop{
    color: aqua;
}
.m-menu:hover .drop-menu{
    display: block;
}
}





        
    







        
        